@{
    //using WebApplication1.Views.Home.Product;

    ViewData["Title"] = "Products";


    List<WebApplication1.Views.Home.Product> products = new List<WebApplication1.Views.Home.Product>
    { 
        new WebApplication1.Views.Home.Product("Oranges", 20.22),
        new WebApplication1.Views.Home.Product("Appels", 30.21),
        new WebApplication1.Views.Home.Product("pencil", 10.20),
        new WebApplication1.Views.Home.Product("cloak", 100.55)
    };
}

<div class="text-center">
    <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <ol> 
        @foreach (var product in products)
        {
            <li> | @product.name | @product.price</li>
        } 
    </ol>
    <p>------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
</div>
