.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.category img {
  height: 100px;
  width: fit-content;
}

.category {
  width: 16rem;
  align-items: center;
  padding: 20px 0;
  border: none;
  box-shadow: 0 0 5px gray;
  transition: 0.1s ease-out;
  text-decoration: none;
}

.category {
  text-align: center;
}

.category .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.category:hover  {
  transform: scale(1.05);
  box-shadow: 0 0 10px gray;
}

.category-container {
  overflow-x: scroll;
   display: flex;
     margin: 20px;
      padding: 20px;
       justify-content: space-between;
}